//- 各个分类item下面项目的模板
- var props = cateProjs[3*i+j]
a(href=`/project/${props.pid}`)
	.cateProjItem
		.cateProjItem-banner(style="background-image:url('" + props.pic + "')")
		.cateProjItem-info
			p.cateProjItem-info-title #{props.title}
			p.cateProjItem-info-intro #{props.intro}
		.cateProjItem-progress
			p.title 项目进度
			.progress.cateProgressMain
				.progress-bar.cateProgress.total(role="progressbar" aria-valuenow='20' aria-valuemin='0' aria-valuemax='100',style="width:"+props.progress.total+"%") 总进度： #{props.progress.total}%
			.progress.cateProgressMain
				.progress-bar.cateProgress.front(role="progressbar" aria-valuenow='20' aria-valuemin='0' aria-valuemax='100',style="width:" + props.progress.front + "%") 前端进度： #{props.progress.front}%
			.progress.cateProgressMain
				.progress-bar.cateProgress.back(role="progressbar" aria-valuenow='20' aria-valuemin='0' aria-valuemax='100',style="width:" + props.progress.back + "%") 后端进度： #{props.progress.back}%
			.progress.cateProgressMain
				.progress-bar.cateProgress.ui(role="progressbar" aria-valuenow='20' aria-valuemin='0' aria-valuemax='100',style="width:" + props.progress.pm + "%") UI进度： #{props.progress.pm}%

		.cateProjItem-usr
			.box
				p.cateProjItem-usr-title 项目负责人： #{props.leader}
				p.cateProjItem-usr-time 截止时间 #{props.startTime.month},#{props.startTime.year},#{props.startTime.date}

