- var picURL = "background:url('"+focusProjects[i].pic+"');"

.focusProjItem
	.focusProjItem-pic(style=picURL)
	.focusProjItem-main
		p.focusProjItem-main-title #{focusProjects[i].title}
		p.focusProjItem-main-intro #{focusProjects[i].intro}
	.focusProjItem-author
		span #{focusProjects[i].leader}
		span #{focusProjects[i].startTime.month}/#{focusProjects[i].startTime.date}/#{focusProjects[i].startTime.year}


