// 焦点项目模板
- var props = focusProjects[i]
- var picURL = "background:url('"+props.pic+"');"

a(href=`project/${props.pid}`)
	.focusProjItem
		.focusProjItem-pic(style=picURL)
		.focusProjItem-main
			p.focusProjItem-main-title #{props.title}
			p.focusProjItem-main-intro #{props.intro}
		.focusProjItem-author
			span #{props.leader}
			span #{props.startTime.month}/#{props.startTime.date}/#{props.startTime.year}


