

- var props =i
- var randomList = ['default','primary','success','info','warning','default','primary','success','info','warning']

.thumbnail.member
	.member-avatar(style="background-image:url('" + '/images/material-16.png' + "')")
		img(src=props.avatar)
	.caption
		h3 #{props.name}
		p.intro #{props.intro}

	.tagBox
		- for(let i of props.tags)
			.label.mTag(class=`label-${randomList[Math.floor(Math.random(5) * 10)]}`) #{i}

	//.panel.panel-primary
	//	.panel-heading 历史项目
	//	.list-group
	//		- for(let i of props.historyProjects)
	//			.list-group-item.list-group-item-info #{i.title}
	//
	//.panel.panel-success
	//	.panel-heading 正在进行的项目
	//	.panel-body #{props.nowProject.title}