

- var props =i
- var randomList = ['default','primary','success','info','warning','default','primary','danger','info','warning']

.thumbnail.member
	.member-avatar(style="background-image:url('" + '/images/material-16.jpg' + "')")
		img(src=props.avatar || "/images/avatar2.svg")
	.caption
		h3 #{props.name || "该成员很神秘，不透露姓名"}
		p.intro #{props.intro|| "该成员很神秘，没有自我介绍"}
		- if (props.sex === 0)
			p.fa.fa-female.text-center
				span.age #{props.age || "该成员很神秘，不透露年龄"}
		-else
			p.fa.fa-male.center-block
				span.age #{props.age || "该成员很神秘，不透露年龄"}
	.tagBox
		- if (props.tags)
			- for(let i of props.tags)
				.label.mTag(class=`label-${randomList[Math.floor(Math.random(5) * 10)]}`) #{i}

	//.panel.panel-primary
	//	.panel-heading 历史项目
	//	.list-group
	//		- for(let i of props.historyProjects)
	//			.list-group-item.list-group-item-info #{i.title}
	//
	//.panel.panel-success
	//	.panel-heading 正在进行的项目
	//	.panel-body #{props.nowProject.title}