// props.intro

- var props = newProjects[i]
- var picURL = "background:url('"+props.pic+"');"


a(href=`project/${props.pid}`)
	.newProjItem
		.newProjItem-pic(style=picURL)
			.newProjItem-pic-info
				.newProjItem-pic-info-text
					p #{props.title}
				.newProjItem-pic-info-text
					p.intro #{props.intro}
				.newProjItem-pic-info-text
					p.intro #{props.startTime.month}, #{props.startTime.date} #{props.startTime.year}
					p #{props.leader}


